<div  class="search-page-container">
    <!-- <div class="search-input-container">
        <h2 class="search-label">Search your employees</h2>
        <div class="search-form-field">
            <mat-icon style="margin: 8px;">search</mat-icon>
            <input matInput type="text" placeholder="Enter employee name" appearance="fill" [(ngModel)]="value" class="search-input">
        </div>
    </div> -->
    <!-- <h3>Your search result</h3> -->
    <div class="employee-list-container">
        <mat-card class="employee-card" id="employee-card" *ngFor="let employee of employeesData">
            <div class="card-header-container-label">
                <div mat-card-avatar class="example-header-image">
                    <mat-icon>person</mat-icon>
                </div>
                <mat-card-title class="card-header-label">ID : {{employee.employee_id}}</mat-card-title>
            </div>
            <mat-card-content>
                <mat-list role="list" class="employee-details">
                    <div style="margin-right: 10%;">
                        <p class="list-item">ID : {{employee.employee_id}}</p>
                        <p class="list-item">Name : {{employee.name}}</p>
                    </div>                    
                    <div>
                        <p class="list-item">Department : {{employee.department}}</p>
                        <p class="list-item">Designation : {{employee.designation}}</p>
                    </div>
                                   
                </mat-list>
                <button mat-raised-button color="primary" class="view-employee" (click)="onViewEmployee(employee.employee_id)">
                    <mat-icon>person</mat-icon>
                    View Employee
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</div>