<form class="form-container" [formGroup]="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="xyz@example.com" formControlName="email" required>
      <mat-error *ngIf="loginForm.get('email').invalid || error.email">{{getErrorMessage('email')||error.email}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password').invalid|| error.password">{{getErrorMessage('password')||error.password}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" style="float: right;margin-bottom: 30px;" (click)="onSubmit()">
        <mat-icon>lock</mat-icon>
        Login
    </button>
  </form>